/*Navbar*/
header {
  background-color: black;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1500px;
}
.navbar a,
.navbar :visited {
  text-decoration: none;
  color: white;
}

nav,
nav a,
.nav a:visited {
  display: flex;
  gap: 15px;
  justify-content: center;
  color: black;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
