@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #800414;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  /* background-image: url("./freshcut-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  color: white;
}
.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.btn,
.btn a,
.btn a:visited {
  border: 1px solid goldenrod;
  text-decoration: none;
  padding: 15px 10px;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
  color: white;
  border-width: 4px;
  letter-spacing: 1px;
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
  width: max-content;
}

.banner-1 {
  background-image: url("https://images.pexels.com/photos/897273/pexels-photo-897273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 600px;
  margin: 80px auto;
  width: 100%;
}
.overlay-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.banner-content {
  margin: 200px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-container {
  height: 56px;
  width: 56px;

  position: relative;
}
.active-link {
  color: goldenrod;
  padding-bottom: 1px;
  border-bottom: 2px solid goldenrod;
}
.span-highlight {
  color: goldenrod;
}
.mini-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  position: relative;
}

.mini-container-unit {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  min-height: 200px;
  border: 1px solid goldenrod;
}

.menu-line {
  position: absolute;
  height: 3px;
  width: 70%;
  left: 15%;
  background-color: white;
  transform: translate(0%, 50%);
}
.upper-line {
  top: 20%;
}
.middle-line {
  top: 40%;
}
.lower-line {
  top: 60%;
}

.overlay-container {
  position: absolute;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  overflow: hidden;
}
.container-bg-image {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./freshcut-mobile.webp");
  z-index: -10;
  /* animation: kenBurnsEffect 20s ease-in-out infinite reverse; */
}

video {
  display: none;
}
video.loaded {
  display: block;
  object-fit: cover;
  height: 100vh;
}

.container-bg-overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.login-form {
  border: 1px solid grey;
  min-height: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}
.form-input input {
  padding: 5px 10px;
  min-width: 15rem;
  border-radius: 5px;
}

/*gallery*/

@media (max-width: 768px) {
  .carousel-indicators {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mini-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .btn {
    min-width: 10rem;
  }
  .btn:hover {
    background-color: goldenrod;
    transform: translateY(-1px);
    cursor: pointer;
  }
  .mini-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mini-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@keyframes kenBurnsEffect {
  0% {
    background-image: url("https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

  50% {
    background-image: url("https://images.pexels.com/photos/897262/pexels-photo-897262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

  100% {
    background-image: url("https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}
