<form class="overflow-hidden">
  <div class="w-4/5 mx-auto my-40 flex flex-col lg:grid grid-cols-2 gap-2">
    <div class="">
      <div class="text-4xl">Any Inquiries? Send us a message</div>
      <div class="flex flex-col gap-2 my-4">
        <label for="">Name</label>
        <input
          class="p-3 rounded max-w-8s md:mr-6"
          type="text"
          placeholder=""
        />
      </div>
      <div class="flex flex-col gap-2 my-4">
        <label for="">Email</label>
        <input class="p-3 rounded md:mr-6" type="email" placeholder="" />
      </div>
      <div class="flex flex-col gap-2 my-4">
        <label for="">Message</label>
        <textarea class="rounded" name="" id="" rows="5"></textarea>
      </div>
      <button class="btn">Send</button>
    </div>

    <!-- Embedding the map -->
    <div class="border-amber-400">
      <iframe
        class="hidden lg:block"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4899.564898829596!2d-106.657305!3d52.120087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f12b519129a3%3A0x6df3b6851358a970!2sEddy&#39;s%20Barbershop%20Saskatoon!5e0!3m2!1sen!2sca!4v1719558259464!5m2!1sen!2sca"
        width="620"
        height="485"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <iframe
        class="hidden md:block lg:hidden"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4899.564898829596!2d-106.657305!3d52.120087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f12b519129a3%3A0x6df3b6851358a970!2sEddy&#39;s%20Barbershop%20Saskatoon!5e0!3m2!1sen!2sca!4v1719558259464!5m2!1sen!2sca"
        width="440"
        height="330"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <iframe
        class="md:hidden"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4899.564898829596!2d-106.657305!3d52.120087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f12b519129a3%3A0x6df3b6851358a970!2sEddy&#39;s%20Barbershop%20Saskatoon!5e0!3m2!1sen!2sca!4v1719558259464!5m2!1sen!2sca"
        width="280"
        height="210"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</form>
