<link rel="stylesheet" href="./public/styles.css" />

<header class="relative">
  <div class="hidden md:flex items-center w-full bg-white h-12 px-3">Upper</div>
  <div
    class="w-full h-12 px-3 flex items-center"
    style="background-color: #d6d6d4"
  >
    <div class="h-full flex items-center border border-black w-4/5 mx-auto">
      <div class="flex">
        <div><a href="/">home</a></div>
        <div><a href="/">Services</a></div>
        <div><a href="/">About</a></div>
        <div><a href="/">Login</a></div>
      </div>
      <button class="btn text-sm md:hidden" id="openMenu">Menu</button>
    </div>
  </div>
  <div
    class="sidebar"
    id="sidebar"
    style="background-color: rgba(128, 128, 128, 0.75)"
  >
    <button class="btn" id="closeMenu">Close sidebar</button>
  </div>
</header>

<script src="./public/script.js"></script>
<script>
  document.getElementById("openMenu").addEventListener("click", function () {
    document.getElementById("sidebar").classList.add("active");
    document.body.style.overflow = "hidden"; // Prevent background scrolling
  });

  document.getElementById("closeMenu").addEventListener("click", function () {
    document.getElementById("sidebar").classList.remove("active");
    document.body.style.overflow = ""; // Allow background scrolling
  });
</script>
